html, body {
  font-size: 16px;
  /*line-height: 1.5;*/
  background: #ECF0F3;
}
nav.navbar {
  border-top: 4px solid #276cda;
  margin-bottom: 1rem;
}
.navbar-item.brand-text {
  font-size: 26px;
  line-height: 26px;
  font-weight: 300;
}
.navbar-item, .navbar-link {
  font-size: 14px;
  line-height: 20px;
}

.navbar-link.active {
  font-weight: bold;
  background: #ECF0F3;
}

/* Alerts */
.alert {
  padding: 24px;
  margin-bottom: 0;
  border: 1px solid red;
  border-radius: 5px;
}

.alert-danger {
  padding: 10px 20px;
}

.alert-error {
  background-color: #fff5f5;
  border-color: #f99;
  color: red;
}

.alert-info {
  background-color: #e5f7fa;
  border-color: #99e1eb;
}

.alert-warning {
  background-color: #fff8ef;
  border-color: #ffd9a7;
}

.alert-success {
  background-color: #eef5e5;
  border-color: #cce3b0;
}

.flash-messages {
  position: absolute;
  right: 0;
  max-width: 500px;
  z-index: 9999;
  opacity: 0.85;
}

.flash-messages > .alert {
  margin: 20px;
}

.flash-messages > .alert:hover {
  opacity: 0.7;
}

