<h2 class="title is-4">Add a new trip</h2>

<div class="columns">
  <div class="column">
    <form {{action 'save' trip on='submit'}}>
      {{trip-form trip=trip formErrors=formErrors}}
    </form>
  </div>
  <div class="column"></div>

</div>
