{{#each model as |trip|}}

  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="level">
          <div class="level-left">
            <b>To:</b> &nbsp; {{trip.destination}}
          </div>
          <div class="level-item">
            <b>When:</b> &nbsp; {{trip.start_date}}
          </div>
          <div class="level-item">
            <b>Back:</b> &nbsp; {{trip.end_date}}
          </div>
          <div class="level-right">
            <b>Days to go:</b> &nbsp;???
          </div>
        </div>
      </div>
      <div class="media-right">
        <a class='button is-info is-small is-outlined' title='Edit trip'>
          <span class="icon is-small">
            <i class="fa fa-pencil"></i>
          </span>
        </a>
      </div>
    </article>
    <small>
      {{trip.comment}}
    </small>
  </div>

{{/each}}
